<footer class="container-fluid">
    <div class="container-fluid bg-dark" style="height: 200px ;" >
        <div class="row ms-5 ps-5">
            <a class="col-sm" href="#"><div class="bg-dark text-white ms-5">About Us</div></a>
            <a class="col-sm" href="#"><div class="bg-dark text-white ms-5">Privacy Policy</div></a>
            <a class="col-sm" href="#"><div class="bg-dark text-white ms-5">Contact Us (Report an Error)</div></a>
        </div>
        <div class="row ms-5 ps-5 mt-3">
            <a class="col-sm" href="#"><div class="bg-dark text-white ms-5">About MeSocialle</div></a>
            <a class="col-sm" href="#"><div class="bg-dark text-white ms-5">Cookies & Privacy Policy</div></a>
            <a class="col-sm" href="#"><div class="bg-dark text-white ms-5">email us : mesocialle123@gmail.com</div></a>
        </div>
        <div class="row ms-5 ps-5 mt-3">
            <a class="col-sm" href="#"><div class="bg-dark text-white ms-5">Career</div></a>
            <a class="col-sm" href="#"><div class="bg-dark text-white ms-5">Terms of Uses</div></a>
            <a class="col-sm" href="#"><div class="bg-dark text-white ms-5">Ph no :05531-243567</div></a>
        </div>
        <div class="row ms-5 ps-5 mt-3 text-center">
            <div class="col-sm bg-dark text-white ms-5">Follow us on : <a href="#"><img src="./assets/download.png" alt="fb" style="height:20px;width: 20px;"></a>&NonBreakingSpace;<a href="#"><img src="./assets/ins.png" alt="" style="height:20px;width: 20px;"></a>&NonBreakingSpace;<a href=""><img src="./assets/tw.png" alt="" style="height:20px;width: 20px;"></a></div> 
        </div>
        <hr class="text-white">
        <div class="container-fluid">
            <p class="text-white" style="font-size: 15px;opacity: 50%;">Copyright © 2022 MeSociallee</p>
        </div>
    </div>
</footer>