<body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container ms-5">
        <a class="navbar-brand  ps-5 float-start pt-2" style="font-family:Lucida Handwriting;" href=""><img class="rounded-circle" src="./assets/images.jpg" alt="MeSocaillee" style="height:25px;width:25px">&nbsp;&nbsp;MeSociallee</a>
    </div>
    <div class="container me-5 pe-5 float-end">
        <ul class="navbar-nav float-end">
            <li class="nav-item">
                <a class="nav-link" href="">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white float-end" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white float-end" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white float-end" href="#">About US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white float-end" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">|</a>
            </li>

        </ul>
    </div>
    <form class="d-flex">
        <input class="from-control me-3" style="border-radius: 10px;" type="text" name="search" placeholder="  search" autocomplete="off">
        <button class="btn bg-primary px-4 me-2 text-white d-flex"><fa-icon [icon]="faYoutube"></fa-icon></button>
    </form>
</nav>
</body>