<header>
    <div class="container border p-4 mt-5 d-flex">
        <div class="container">
            <img class="rounded p-2" src="./assets/images.jpg" style="width:600px;height: 400px;border-radius: 30px;">
        </div>
        <div class="container float-end">
        <p class="p-1" style="font-size:80px;font-family: Lucida Handwriting;">MeSocaillee..</p>
        <p class="h3 p-2" style="font-family: papyrus;">This is a Social Communication tool that connects people from different parts of the world...</p>
        <br>
        <div class="container d-flex">
        <img src="./assets/anu.jpeg" alt="Anu" class="rounded-circle" style="width: 50px;height: 50px;">
        <p class="h5 ms-3 mt-3" style="font-family:Segoe script;">Gude Anudeep \ CEO of MeSocialle</p>
    </div>
    </div>
    </div>
</header>