<div class="container text-center p-4 mt-2 mx-5">
<div class="container border p-3 mt-2 bg-white shadow-lg" style="width: 400px;border-radius: 10px;">
	<a class="container h2 text-center h4 text-dark">Login Form</a>
	<br>
	<br>
	<div class="container d-flex">
		<label class="h4 mx-2" style="text-shadow: 2px 2px 2px 2px goldenrod;">FirstName :</label>
		<input name="fname" placeholder="firstname" type="text" style=" border-style: ridge;">
	</div>
	<br>
	<br>
	<div class="container d-flex">
		<label class="h4 mx-2" style="text-shadow: 2px 2px 2px 2px goldenrod;">LastName :</label>
		<input name="fname" placeholder="lastname" type="text" style=" border-style: ridge;">
	</div>
	<br>
	<br>
	<div class="container d-flex">
		<label class="h4 mx-2" style="text-shadow: 2px 2px 2px 2px goldenrod;">Password :</label>
		<input name="fname" placeholder="password" type="password" style=" border-style: ridge;">
	</div>
	<br>
	<br>
	<div class="container d-flex">
		<label class="h4 mx-2" style="text-shadow: 2px 2px 2px 2px goldenrod;">Confirm :</label>
		<input name="fname" placeholder="password" type="password" style=" border-style: ridge;">
	</div>
	<br>
	<br>
	<div class="container">
		<input class="btn btn-primary" type="submit" value="sign Up">
	</div>
</div>
</div>