#anime:hover{
    animation-name: up;
    animation-duration: 2s;
    animation-delay: .1s;
    animation-timing-function: ease-in-out;
}

@keyframes up {
    0%{
        transform: translate(0px,0px);
    }
    25%{
        transform: translate(0px,-5px);
    }
    50%{
        transform: translate(0px,0px);
    }
}